* {
    text-decoration: none;
}

.messages__user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.messages__user_item {
    position: relative;
    top: 0;
    align-self: flex-start;
    max-width: 20%;
    min-width: 20%;
    color: rgb(78, 62, 62);
    background-color: violet;
    padding: 10px 0px;
    text-align: center;
}

.active {
    color: rgb(230, 223, 223);
    background-color: rgb(30, 131, 17);
}